
@media (max-width: 767px) {
	.btn-bottom{
		position: relative !important;
	}
	.basic-plan{
		margin-bottom: 0px !important;
	  }
	.scheduling-text{
		margin-top: 2px !important;
		padding: 10px;
    	background-color: rgb(0 0 0 / 31%);
	}
	.common-title{
	    font-size: 34px;
		text-align: center;
	}
	.bg-title{
	    font-size: 14px;
		text-align: center;
	}
	.back-img {
	    background: url(../../assets/img/bg-img.jpg);
	    background-size: cover;
	    background-position: right -120px bottom;
	    object-fit: cover;
	    height: 420px;
	}
	.content-flex{
	    display: block;
	  }
	
	.side-menu{
	  display: block;
	}
	
	.service-text {
	  text-align: center;
	}
	
	.td-title{
	  float: left;
	    margin: 0px 10px;
	}
	
	.mt-50{
	  margin-top: 0px !important;
	}
	
	.mt-60{
	  margin-top: 0px !important;
	}
	
	.responsive-screen {
	  padding: 0px !important;
	}
	
	.margin-auto{
	  margin-left: auto;
	  margin-right: auto;
	}
	
	.td-center{
	  text-align: center;
	}
	
	.h-link {
	  display: inline-flex !important;
	  margin: 0px 0px 10px 0px !important;
	}
	
	.copyright{
	  margin-top: 10px;
	}
	.logo{
		margin-left: 5px;
	}
	.sidemenu-button:focus {
	    outline: 0px !important;
	}
	.content-flex{
	  margin-top: 20px !important;
	}
	.prev{
		left: 0px !important;
	}
	.mySlides {
	  padding: 30px 40px!important;
	  text-align: center;
	}
	.next{
		right: 0px !important;
	}
	.slides-display{
	  display: inline;
		text-align: center !important;
	}
	.slides-display img{
	  display: none;
	}
	.slide-bg {
	    min-height: 370px;
	    padding: 50px 0px;
	}
	.dot {
	    font-size: 14px !important;
	    color: rgb(168, 168, 168);
	    margin: 7px !important;
	    line-height: 20px;
	}
	.dot.active, .dot:focus{
		font-size: 18px !important;
	}
	summary {
	  width: auto !important;
	}
	.content-fix {
	  margin-left: 0px !important;
	}
	.tabs>.labels>label {
	  width: 150px !important;
	}
	.tab1 {
	  border-top-left-radius: 20px !important;
	  border-bottom-left-radius: 20px !important;
	}
	.tab2 {
	  border-top-right-radius: 20px !important;
	  border-bottom-right-radius: 20px !important;
	}
	.tabs>.labels>label {
	  margin: 16px 0px !important;
	}
	.button-fix {
	  margin-left: 0px !important;
	}
	.account-modal {
	  margin-top: 30px !important;
	  height: auto !important;
	  width: auto !important;
	  margin-bottom: 50px;
	}
	
	.pad-l10 {
	  padding-left: 0px !important;
	}
	.pad-l45 {
	  padding-left: 0px !important;
	}
	.td-none{
	  display: block !important;
	}
	.td-mb-20{
	  margin-bottom: 20px;
	}
	.nav-bar{
	  margin: 10px 15px !important;
	  border-bottom: 1px dashed #073756;
	}
	.login-link{
	  margin-bottom: 10px;
	  margin-left: 10px;
	}
	.signup-link{
	  margin-bottom: 10px;
	  margin-left: 10px;
	}
	.jdfosx .inner {
		min-height: 340px;
	}
}